{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "90",
          "safari": "15",
          "firefox": "90",
          "edge": "90"
        },
        "modules": false,
        "bugfixes": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    },
    "cjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "18"
            },
            "modules": "commonjs",
            "bugfixes": true
          }
        ]
      ]
    }
  }
}
