.hidden {
  display: none;
}

form[data-hello-form] {
  position: relative;

  & article {
    & [data-error-container] {
      font-size: 0.875rem;
      line-height: 1.25rem;
      display: none;
    }

    &:has(input:invalid) {
      & [data-error-container] {
        display: block;
      }
    }
  }

  & [data-logo-container] {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    right: 1rem;
    bottom: 1rem;

    & small {
      margin: 0 0.3rem;
    }

    & [data-hello-brand] {
      width: 4rem;
    }
  }
}

@-webkit-keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.hellotext--webchat {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  & #hellotext--webchat-trigger {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    padding: .5rem;
  }

  [popover] {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 0.75rem;
    z-index: 10;
    min-width: 24rem;
    overflow-y: scroll;
  }

  [popover]:popover-open {
    -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
    animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  [data-hellotext--webchat-target="input"] {
    padding: 0.5rem 0;
    border: 0;
    outline: none;

    :focus {
      outline: none; /* focus:outline-none */
    }
  }

  [data-hellotext--webchat-target="attachmentButton"] {
    background-color: transparent;
    border: 0;
    padding: 0;
    color: rgb(114, 104, 132);
    cursor: pointer;

    &:hover {
      color: rgb(255, 76, 0);
    }
  }

  [data-hellotext--webchat-target="attachmentRemoveButton"] {
    background: rgb(221, 196, 255);
    border-radius: 9999px;
    padding: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: rgb(240, 229, 255);
    }

    & svg {
      width: 1rem;
      height: 1rem;
    }
  }
}
