.hidden {
  display: none;
}

form[data-hello-form] {
  position: relative;

  & article {
    & [data-error-container] {
      font-size: 0.875rem;
      line-height: 1.25rem;
      display: none;
    }

    &:has(input:invalid) {
      & [data-error-container] {
        display: block;
      }
    }
  }

  & [data-logo-container] {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    right: 1rem;
    bottom: 1rem;

    & small {
      margin: 0 0.3rem;
    }

    & [data-hello-brand] {
      width: 4rem;
    }
  }
}

@-webkit-keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.hellotext--webchat {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  & #hellotext--webchat-trigger {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    padding: .5rem;
  }

  & [data-hellotext--webchat-target="messagesContainer"] {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    background-color: white;
    padding: 1rem 1.25rem;
    height: 24rem;
    overflow-y: scroll;
  }

  & .hellotext--webchat-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: .5rem;
    align-self: stretch;
    position: relative;

    & [data-bubble] {
      position: absolute;
      bottom: 0;
      left: -.2rem;
      fill: #E7E5EA;
      transform: scaleX(-1)
    }

    & [data-attachments-container] {
      column-gap: 1rem;
      overflow-x: auto;
      overflow-y: visible;
      padding-top: 1rem;

      :has(:not(:empty)) {
        display: flex;
      }

      :has(:empty) {
        display: none;
      }
    }

    & [data-body] {
      padding: 0.625rem 1rem;
      border-radius: 1.25rem;
      background: #E7E5EA;
      margin: 0;
    }
  }

  & .hellotext--webchat-message.received {
    display: flex;
    align-items: flex-end;

    & [data-body] {
      background: rgb(240, 229, 255);
    }

    & [data-bubble] {
      transform: none;
      left: unset;
      right: -.2rem;
    }
  }

  & [data-hellotext--webchat-target="attachmentContainer"] {
    display: none;
    column-gap: 1rem;
    overflow-x: auto;
    overflow-y: visible;
    padding-top: 1rem;
  }

  & [data-hellotext--webchat-target="footer"] {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    margin: 0 1rem;
  }

  & [data-hellotext--webchat-target="errorMessageContainer"] {
    color: red;

    :has(:empty) {
      display: none;
    }

    :has(:not(:empty)) {
      display: block;
    }
  }

  & [data-hellotext--webchat-target="toolbar"] {
    display: flex;
    column-gap: 1rem;
    margin-top: 0.5rem;
  }

  .trix-content {
    & a {
     color: rgb(255, 76, 0);
     text-decoration: none;

      :hover {
        color: rgb(253, 125, 51);
      }
    }
  }

  [popover] {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 1.25rem;
    z-index: 10;
    min-width: 24rem;
    max-width: 24rem;
    overflow-y: scroll;
  }

  [popover]:popover-open {
    -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
    animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  [data-hellotext--webchat-target="input"] {
    padding: 0.5rem 0;
    border: 0;
    outline: none;

    :focus {
      outline: none;
    }
  }

  [data-hellotext--webchat-target="attachmentButton"] {
    background-color: transparent;
    border: 0;
    padding: 0;
    color: rgb(114, 104, 132);
    cursor: pointer;

    &:hover {
      color: rgb(255, 76, 0);
    }
  }

  [data-hellotext--webchat-target="attachmentRemoveButton"] {
    background: rgb(221, 196, 255);
    border-radius: 9999px;
    padding: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    position: absolute;
    right: -.5rem;
    top: -.5rem;
    cursor: pointer;

    &:hover {
      background: rgb(240, 229, 255);
    }

    & svg {
      width: 1rem;
      height: 1rem;
    }
  }
}
